body {
    font-family: 'Poppins', sans-serif;
    background-color: #F4F4F4;
}

.prim-color {
    background-color: #F4F4F4;
}

.accent-color {
    background-color: #3281C7;
}

.prim-font-color {
    color: #1A1919 !important;
}

.sec-font-color {
    color: #D1D1D1;
}

.accent-font-color {
    color: #3281C7;
}

.menu-social {
    font-size: 1.2em;
    padding-left: 0.5em !important;
    padding-right: 0.5em !important;
}

#my-nav {
    opacity: 0.85;
    font-size: 0.9em;
    font-weight: 500;
}

#name-text {
    font-weight: 700 !important;
    font-size: 0.9em !important;
}

#line-text {
    font-weight: 400 !important;
    font-size: 0.7em !important;
    margin-top: 0.5px;
}

#menu-btn {
    font-size: 1.5em !important;
    border: 0 !important;
    padding: 0;
}













