body {
    font-family: 'Poppins', sans-serif;
    background-color: #F4F4F4;
}

b {
    font-weight: 600;
}

.prim-color {
    background-color: #F4F4F4;
}

.accent-color {
    background-color: #1492E6;
}

.prim-font-color {
    color: #1A1919 !important;
}

.sec-font-color {
    color: #D1D1D1;
}

#my-nav {
    font-size: 13px;
    font-weight: 500;
}

#name-text {
    font-weight: 800 !important;
    font-size: 15px !important;
}

#line-text {
    font-weight: 400 !important;
    font-size: 12px !important;
    margin-top: 2px;
}

.menu-social {
    font-size: 18px;
    padding-left: 0.4em !important;
    padding-right: 0.4em !important;
}

.menu-social:hover {
    color: #1492E6 !important;
}

.route-link {
    font-weight: 600;
}

.route-link:hover {
    color: #1492E6 !important;
}

#menu-btn {
    font-size: 16px !important;
    border: 0 !important;
    padding: 0;
}

.btn:focus {
    outline: none !important;
    box-shadow: none;
}

#main {
    margin-top: 5.25rem;
}

#about {
    margin-top: 50vh;
    max-width: 65%;
}

#desc-text {
    font-size: 25px;
    letter-spacing: -0.5px;
    line-height: 35px;
    font-weight: 500;
    color: #262626;
}

#hello {
    font-size: 35px;
    font-weight: 800;
}

.divider {
    border-top: 6px solid #1492E6;
    width: 50px;
}

.sec-div {
    margin-top: 10rem;
}

.sec-title {
    font-weight: 800;
    letter-spacing: 5px;
    font-size: 35px;
}

.sec-desc {
    font-size: 14px;
    width: 40%;
}

.border-btn {
    background-color: none;
    border: 2px solid #1A1919;
    border-radius: 0;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.5px;
    padding: 0.5rem 1.2rem;
}

.border-btn:hover {
    background-color: #1492E6;
    color: #F4F4F4 !important;
    border: 2px solid #1492E6;
}

.side-text {
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    font-weight: 800;
    letter-spacing: 5px;
    font-size: 30px;
    color: #D8D8D8;
    position: absolute;
    background-color: #F4F4F4;
    padding-top: 1rem;
}

.side-divider {
    border: 2px solid #D8D8D8;
    height: 100%;
}

.org-name {
    float: left;
    font-size: 25px;
    font-weight: 600;
}

.time-text {
    float: right;
    font-size: 25px;
    font-weight: 600;
    color: #1492E6;
}

.title-name {
    float: left;
    font-size: 16px;
    font-weight: 500;
}

.loc-text {
    font-size: 16px;
    font-weight: 500;
    float: right;
}

.role-desc {
    border-left: 2px solid #1492E6;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.75rem;
    width: 75%;
}

#skill-bg {
    background-color: white;
    left: 0;
    width: 100%;
    position: absolute;
    margin-top: 5rem;
}

#skill-title {
    position: absolute;
    top: -20px;
    font-weight: 800;
    letter-spacing: 5px;
    font-size: 30px;
    color: #D8D8D8;
    padding-left: 30px;
}

@media (max-width: 992px) {
}

@media (max-width: 768px) {
}












